
@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

@media (max-width: 640px) {
	header {
		h1 {
			font-size: 2em;
		}
		h2 {
			font-size: 1.1em;
		}
		nav {
			top: 495px;
			min-height: 50px;
			line-height: 1.2em;
		}
	}
}

@media (max-width: 767px) {
	header {
		box-shadow: none;
		background-position: 50% 0px;
		background-size: 1000px;
	}
	.img-hover {

	    input {
	        opacity: 1;
	        bottom: 140px;
	    }
	}

	.carousel {
		max-height: 500px;
		img {
			max-width: 90%;
			height: auto;
			margin: 5%;
		}
		input {
			margin-top: 40%;

		}
	}

	.container {
	    padding-left: 5%;
	    padding-right: 5%;
	}

	div.container {
	    padding: 0 5%;
	    margin: 0;
	}
	.left-col {
	    &.form {
	        width: 100%;
	    }
	}
	.info.right-col {
	    width: 100%;
	    border: none;
	    ul {
	    	text-align: center;
	    }
	}
}